@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}



body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  background-color: #fff;
}

.page-header {
  color: #000;
  background-color: #fff;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 22px;
  font-weight: 700;
  color: #000;
  text-align: center;
  background-color: #fff;
  text-decoration: none;
}

.notification-badge {
  background-image: url("../images/icons/twelve.svg");
}

.header-button {
  font-family: "PT Sans", sans-serif;
  line-height: 22px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background-color: #756157;
  text-decoration: none;

}

.main {
  background-color: #fff;
  color: #000;
}

.welcome {
  background-color: #82b3d3;
  background-image: url("../images/hero/welcome-background.jpg") ;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  line-height: 36px;
  font-weight: 400;
  color: #000;
  text-align: center;
  background-color: #fff;
  text-decoration: none;
}

.title-main {
  line-height: 36px;
  font-weight: 700;
  font-size: 30px;
  color: #000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.title {
  line-height: 28px;
  font-weight: 700;
  font-size: 24px;
  color: #000;
  text-align: center;
  background-color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.city {
  line-height: 28px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background-color: #82b3d3;
}

.hero-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

.description {
  font-family: "PT Sans", sans-serif;
  line-height: 21px;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  text-align: center;
}

.description-main {
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-weight: 400;
  font-size: 22px;
  color: #000;
  text-align: center;
  text-decoration: none;
}


.square {
  background-color: #f0f6fa;
}

.road {
  background-color: #e6f0f6;
}

.tourists {
  background-color: #f0f6fa;
}

.bridge {
  background-color: #82b3d3;
}

.housing {
  background-color: #f0f6fa;
}


.souvenirs {
  background-color: #f0f6fa;
}

.button-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background-color: #756157;
}

.subscribe {
  background-image: url("../images/backgraund/catalog-search.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  position: relative;
}

.subscribe-catalog {
  background-size: cover;
  background-color: #fff;

}

.subscribe-form {
  line-height: 36px;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  text-align: center;
}

.button-subscribe {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #fff;
  text-align: center;
  background-color: #82b3d3;
  text-transform: uppercase;
}

.page-footer {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  background-color: #fff;
}

.page-footer a {
  color: #000;
}

.footer-contacts-phone {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
  text-align: center;
  background-color: #fff;
}

.htmlacademy-link {
  background-image: url("../images/footer-social/logo-academy.svg");
}

.parameters {
  background-image: url("../images/backgraund/filter-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.inner-header-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #fff;

}

.breadcrumbs-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}

.catalog-filter-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.control-list {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}

.radio-filter-group {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.price-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.sieve {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  color: #e5e5e5;
}


.button-submit {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: #82b3d3;
  text-transform: uppercase;
}

.button-reset {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
}


.catalog-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000;
  text-transform: uppercase;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}

.product-card-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  text-decoration: none;
}

.description-card {
  font-family: "PT Sans", sans-serif;
  line-height: 21px;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

.product-card-price {
  font-family: "PT Sans", sans-serif;
  line-height: 21px;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

.button-hotel {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background-color: #82b3d3;
  text-transform: uppercase;
}

.button-hotel-select {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background-color: #7db54f;
  text-transform: uppercase;
}

.product-card-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.rating {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
}

.pagination-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  background-color: #82b3d3;
  width: 60px;
  height: 60px;
  border-radius: 4px;
}

.pagination-current {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #000;
  background-color: #f2f2f2;
  width: 60px;
  height: 60px;
  border-radius: 4px;
}
